/* ======================== MAIN CONTAINER ============================= */

.main_container {
    position: relative;
    top: 100px;
}


/* ======================== MOVIE CONTAINER ============================= */
.movie_section {
    padding-left: 30px;
    margin-bottom: 30px;
    overflow-x: hidden;
}

.movie_container-title {
    padding-bottom: 10px;
    font-size: xx-large;
}

.movie_container {
    padding-bottom: 10px;
    font-size: xx-large;
}

.movie_list {
    width: max-content;
    transition: 1s;
}

.arrow_back,
.arrow_forward {
    height: 300px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.4s;
    cursor: pointer;
}

.arrow_back {
    left: 0;
}

.arrow_forward {
    right: 0;
}

.movie_list:hover .arrow_forward,
.movie_list:hover .arrow_back {
    opacity: initial;
}

/* ======================== MOVIE CARD ============================= */


.movie_item {
    width: 200px; 
    height: 300px;
    display: inline-block;
    cursor: pointer;
}

.movie_item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transform: scale(0.9);
    transition: 0.2s;
}



/* ======================== MEDIA QUERIES ============================= */

/* ======================== NAV BAR ============================= */
@media screen and (max-width: 960px) {
    
    .menu-button {
        display: block;
    }

    .movie_container {
        overflow-x: scroll;
    }

    .movie_container::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (min-width: 960px) {
    .page_nav { 
        display: flex;
        align-items: center;
    }

    .nav_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        column-gap: 30px;
        width: 100%;
        height: auto;
        padding: 0;
        background: none;
        position: fixed;
        top: 10px;
        left: 260px;
        z-index: 999;
    }

    .logo-button {
        display: flex;
    }
  
}

@media screen and (min-width: 420px) {
    
    .movie_item img:hover {
        transform: scale(1);
    }

}
