/* ======================== NAV ============================= */
.page_header {
	font-size: x-large;
    margin-bottom: 70px;
    padding: 30px 10px 30px 10px;
}

.page_nav { 
    display: flex;
    justify-content: space-between;
}

.nav_list {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 100%;
    height: 100vh;
}

.show {
    display: flex !important;
}

.nav-button {
	background: none;
	border: none;
	cursor: pointer;
    padding: 0;
}

.nav-item {
	color: var(--text-default);
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo-button {
    display: none;
    align-items: center;
    color: var(--text-default);
    font-size: 2.5rem;
    font-weight: bold;
    background: none;
	border: none;
	cursor: pointer;
    padding: 0;
}

.logo-icon,
.menu-icon {
    font-size: xxx-large;
}

.menu-button {
    display: none;
}

.menu-open {
    display: block;
    position: fixed;
    top: 20px;
    right: 10px;
}

.logo-name {
    color: var(--text-violet);
    display: flex;
    width: max-content;
}


/* ======================== MOVIE CONTAINER ============================= */
.movie_section {
    padding-left: 30px;
    margin-bottom: 30px;
    overflow-x: hidden;
}

.movie_container-title {
    padding-bottom: 10px;
    font-size: xx-large;
}

.movie_container {
    padding-bottom: 10px;
    font-size: xx-large;
}

.movie_list {
    width: max-content;
    transition: 1s;
}

.arrow_back,
.arrow_forward {
    height: 300px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.4s;
    cursor: pointer;
}

.arrow_back {
    left: 0;
}

.arrow_forward {
    right: 0;
}

.movie_list:hover .arrow_forward,
.movie_list:hover .arrow_back {
    opacity: initial;
}

/* ======================== MOVIE CARD ============================= */


.movie_item {
    width: 200px; 
    height: 300px;
    display: inline-block;
    cursor: pointer;
}

.movie_item img {
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    transition: 0.2s;
}

.movie_item img:hover {
    transform: scale(1);
}


/* ======================== MEDIA QUERIES ============================= */

/* ======================== NAV BAR ============================= */
@media screen and (max-width: 960px) {
    
    .menu-button {
        display: block;
    }

    .movie_container {
        overflow-x: scroll;
    }
}

@media screen and (min-width: 960px) {
    .page_nav { 
        display: flex;
    }

    .nav_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        column-gap: 30px;
        width: 100%;
        height: unset;
        margin-left: 30px;
    }

    .logo-button {
        display: flex;
    }
}
